{% extends 'base.html' %}
{% block title %} Create a new post... {% endblock %}
{% block content %}

  {% if user.is_authenticated %}
    <h1> Add Post... </h1>
    <smal>(HTML is acctive!)</smal>
    <br/> <br/>
    
    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Submit" class="btn btn-secondary">SEND POST!</button>
          </form>
    </div>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary">BACK</a>
  {% else %}
    <h1><center>Access denied !</h1>
  {% endif %}

{% endblock %}