{% extends 'base.html' %}
{% block title %} This is profil... {% endblock %}


{% block content %}


<h1> Profil {{ user.username }} </h1><br>

<ul>
    <li>Name: {{ user.first_name }}</li>
    <li>Last name: {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Groups: {{ user.groups }}</li>
    <li>Is active: {{ user.is_active }}</li>
    <li>Superuser: {{ user.is_superuser }}</li>
    <li>Last login: {{ user.last_login }}</li>
    <li>Date joined: {{ user.date_joined }}</li>
        <br/>

</ul>


{% endblock %}