{% extends "szablon.html" %}

{% block produkt %}

    {% if kategoria_produkt  %}
    <div class="square1">
        <div class="tile5">
            <div id="tytul"></div> 
   
        {% for produkt in kategoria_produkt %}
        <div class="obrazek">
            <div class="obrazek1">
               
        <a href="/produkty/{{ produkt.id }}">{{ produkt.orazek}} {{produkt.nazwa}} {{ produkt.cena}} PLN </a></p></h1>
        </div>
        </div>
        {% endfor %}
 

    {% else  %}

    {% endif  %}


{% endblock produkt %}