{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>

	<meta charset="utf-8"/>
	<title>InvestSHOP.com </title>
	
	<meta name="description" content="Zamów prezent! " />
	<meta name="keywords" content="bitcoin, prezent, gift, kryptowaluty" />
	
	<meta http-equiv="X-UA-Compatlible" content="IE=edge,chrome=1" />
	
	<link href="{% static 'main.css' %}" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
	
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--wklejenie biblioteki/api jquerry -->
	
	<script src="{% static 'jquery.scrollTo.min.js' %}"></script>
	
	<script>
	//pokaż podczas przewijania
	
	$(window).scroll(function()
	
	{
	if($(this).scrollTop()>420) $('.scrollup').fadeIn();
	else $('.scrollup').fadeOut();
	}
	
	);
	
	</script>
	
</head>

<body>

	<a href="#" class="scrollup"></a>
	

	<div class="top">
	
		<ul class="top">
			<li><i class="icon-tablet"></i>zamów@InvestSHOP.com</li>
		</ul>
		
	</div>
	
	<header>
		<nav>
			<ul class="menu">
			
				{%  for kat in kategorie   %}
					
				<li><p> <a href = "/kategoria/{{ kat.id }}">{{ kat.nazwa }}</a> </p></li>
				{%  endfor  %}

			
			</div>
		</nav>
	</header>

<main>

	<article>
		
		<section>
			
			<header>
				
			<div class="img">
				
				<header>
				
					<p>Zrób sobie prezent !</p> 
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<a href="#dbutton"><button class="bluebutton">Zamów GIFTA !</button></a>
				
				</header>
				
			</div>
		
		</section>
	
		<section>
			
		<div class="topbar">
			
			
			<div class="topbarall">
			
	
				
				<div id="topbarR">
				
					<header>
					
						<h2 id="dbutton">Produkty:</h2>
						<p>{% block produkt %}  {% endblock produkt %}</p>
						
					</header>
				
				</div>
							
				
			
			</div>
			
			<div style="clear:both"></div>
		
		</div>
					
		</section>
	
		<section>
		
			<div class="why">
				
				
			</div>
			
		</section>
	
		<section>
		
		<div class="newest">
		
			<div class="entries">
			
				<header>
			
					<h2>Produkt:</h2>
					
				</header>
			
				<div class="entry">
			
					<div class="entryimg">
			
						<a href="auto1" title="Man TGX"><img src="img/man.jpg"alt="man"></a></div>
					
					<div class="entrytext">
					
						<h3>Koszulka BTC</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat finibus tellus non scelerisque. Sed vel dolor in neque congue finibus. Vestibulum a mi nisl. Fusce at rutrum urna. Nunc ullamcorper lacus eu sapien facilisis luctus. Nam eget diam metus.</p>
					
					</div>
				</div>
			<div style="clear:both;"></div>
		</div>
					
		</section>
		
		
		
	</article>
	
</main>

<footer>

	<div class="social">
	
		<div class="socialll">
		
			<div class="tw">
				<a href="http://www.twitter.com" target="_blank" class="sociallink">
				<i class="icon-twitter"></i></a>
			</div>
			
			<div class="fb">
				<a href="http://www.facebook.com" target="_blank" class="sociallink">
				<i class="icon-facebook"></i></a>
			</div>
			
			<div class="yt">
				<a href="http://www.youtube.com" target="_blank" class="sociallink">
				<i class="icon-youtube-squared"></i></a>
			</div>
			
			<div class="gplus">
				<a href="http://www.googleplus.com" target="_blank" class="sociallink">
				<i class="icon-googleplus-rect"></i></a>
			</div>
		
		<div style="clear:both"></div>
		
		</div>
	
	</div>
	
	<div class="info">Wszelkie prawa zastrzeżone 2022 &copy; InvestSHOP.com </div>
	
</footer>



</body>
</html>