{% load static %}
<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>InvestSHOP.com </title>
	
	<meta name="description" content="Stworzę dla Ciebie wyjątkową stronę www lub program! Zatrudnij programistę: Python, HTML, CSS, SQL," />
	<meta name="keywords" content="zamów, stronę, tworzenie, www, programista, portfolio, php, javascript, html, css, Python, developer, blockchain" />
	
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}" />
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@400;900&display=swap');
	</style>
	
	<script src= "{% static 'timer.js' %}"></script>
	
</head>

<body onload="odliczanie()">
	
	<div id="container">
		<div class="rectangle">
			<div id="logo"><a href="http://127.0.0.1:8000" class="tilelinkhtml5">InvestSHOP.com</a></div>
			<div id="zegar"></div>
			<div style="clear: both;"></div>
		</div>
		<div class="square">
			<div class="tile1">
				<h3> MENU </h3> 
				{%  for kat in kategorie   %}
				<p> <a href = "/kategoria/{{ kat.id }}">{{ kat.nazwa }}</a> </p>
				{%  endfor  %}
			</div>
		</div>


				{% block produkt %}  {% endblock produkt %}

	
	
	</div>
</body>
</html>